.animar {
    opacity: 0; /* Define a opacidade inicial para 0 */
    transform: translateX(100px); /* Define o deslocamento vertical inicial para 20 pixels */
    transition: opacity 1s ease, transform 2s ease; /* Define a transição de animação */
  }
  
  /* Adicione a classe animada para ativar a animação quando a classe for adicionada ao elemento */
  .animar.animada {
    opacity: 1; /* Define a opacidade final para 1 */
    transform: translateX(0); /* Define o deslocamento vertical final para 0 pixels */
  }
.animar_empresas {
    opacity: 0; 

    transform: rotate(-10deg);
    transition: opacity 1s ease, transform 1s ease; 
  }
  
 
  .animar_empresas.animada {
    opacity: 1; 
    transform: rotate(0deg);
    transform: translateY(0p);
  }

.anima_solucao01 {
    opacity: 0; 

    transform: translateX(200px);
    transition: opacity 1s ease, transform 3s ease; 
  }
  
 
  .anima_solucao01.animada {
    opacity: 1; 
    transform: translateX(0px);
    
  }

.anima_solucao02 {
    opacity: 0; 

    transform: translateX(-200px);
    transition: opacity 1s ease, transform 3s ease; 
  }
  
 
  .anima_solucao02.animada {
    opacity: 1; 
    transform: translateX(0px);
    
  }

.anima_solucao03 {
    opacity: 0; 

    transform: translateX(200px);
    transition: opacity 1s ease, transform 3s ease; 
  }
  
 
  .anima_solucao03.animada {
    opacity: 1; 
    transform: translateX(0px);
    
  }
.anima_solucao04 { 
    opacity: 0; 
    transform: scale(0.1);
    transition: opacity 1s ease, transform 5s ease; 
  
  }
  
 
  .anima_solucao04.animada {
    opacity: 1; 
    transform: scale(1.8);
    
    
  }